
<form>
	<input type="text" class="inputbox" id="noun" 		ng-model="wordModel1" placeholder="First Noun" />
	<input type="text" class="inputbox" id="verb1" 		ng-model="wordModel2" placeholder="First Verb"/>
	<input type="text" class="inputbox" id="verb2" 		ng-model="wordModel3" placeholder="Second Verb"/>
	<input type="text" class="inputbox" id="adjective" 	ng-model="wordModel4" placeholder="Adjective"/>
	<input type="text" class="inputbox" id="adverb" 	ng-model="wordModel5" placeholder="Adverb"/>
	<input type="text" class="inputbox" id="adjective" 	ng-model="wordModel6" placeholder="Adjective"/>
	<input type="text" class="inputbox" id="noun2" 		ng-model="wordModel7" placeholder="Second Noun"/>
	<input type="submit" class="inputbox"
		ng-click="getWord(wordModel1, wordModel2, wordModel3, wordModel4, wordModel5, wordModel6, wordModel7)" />
</form>